*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
img {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

li {
  list-style: none;
}

button,
input {
  border: 0;
  background: none;
}

button,
input:focus {
  border: 0;
  background: none;
  outline: none;
}

@font-face {
  font-family: "Myriad Pro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Light.woff") format("woff"), url("../fonts/MyriadPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  font-display: swap;
  src: url("../fonts/MyriadPro-Semibold.woff") format("woff"), url("../fonts/MyriadPro-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=_icon-]:before {
  display: block;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  line-height: 1;
  height: 100%;
  color: #000;
  font-family: "Myriad Pro";
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  /*  @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 0 10px;
    }  */
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*
.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

}*/

.registr {
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registr__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 40px;
}

.registr__logo {
  margin-bottom: 40px;
}

.registr__logo img {
  width: 293px;
  display: block;
}

.registr__form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #FF862F;
  -webkit-box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 85px;
  padding-right: 85px;
  position: relative;
  max-width: 467px;
  width: 100%;
}

.registr__link {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #8D8D8D;
  position: absolute;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registr__link span {
  margin-left: 5px;
}

.registr__link svg {
  stroke: #8D8D8D;
}

.registr .form__bottom {
  margin-top: 20px;
  text-align: center;
}

.registr .form__bottom span {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #3C3C3C;
}

.registr .form__bottom a {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #0000CD;
  margin-left: 5px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__title {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}

.form__description {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  color: #8D8D8D;
  max-width: 230px;
  margin: 0 auto 20px;
}

.form__item:not(:last-child) {
  margin-bottom: 20px;
}

.form__item.red .error {
  display: block;
}

.form__item.red input {
  color: #EB5757;
  border: 1px solid #EB5757;
}

.form__item.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 296px;
  padding-left: 18px;
}

.form__item.checkbox a {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #0000CD;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form__item.checkbox input:checked + label::before {
  border: 0;
  background: #0075FF;
}

.form__item.checkbox input:checked + label::after {
  display: block;
}

.form__item.checkbox label {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #3C3C3C;
  cursor: pointer;
  position: relative;
}

.form__item.checkbox label::before {
  content: "";
  position: absolute;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  top: 50%;
  left: -18px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 13px;
  height: 13px;
}

.form__item.checkbox label::after {
  content: url("../img/checkmark.svg");
  position: absolute;
  top: 50%;
  left: -17px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.form__item.checkbox input {
  display: none;
}

.form__input {
  background: #E7E6E6;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px;
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  color: #8D8D8D;
  width: 296px;
}

.form__input:focus {
  background: #E7E6E6;
  border: 1px solid #66AFE9;
  -webkit-box-shadow: 0px 0px 6px rgba(102, 175, 233, 0.7), inset 0px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px rgba(102, 175, 233, 0.7), inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form .error {
  display: none;
  max-width: 296px;
  margin-top: 5px;
}

.form .error span {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #EB5757;
}

.form .error b {
  font-weight: 600;
}

.form .error a {
  font-family: "Myriad Pro";
  font-weight: 300;
  font-size: 14px;
  line-height: 121%;
  color: #0000CD;
}

.form__btn {
  cursor: pointer;
  background: #FF862F;
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: #FFFFFF;
  padding: 8px;
  width: 296px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__bodyone {
  display: block;
}

.form__bodytwo {
  display: block;
}

.form__bodytwo h3 {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  text-transform: uppercase;
  color: #8D8D8D;
  margin-bottom: 15px;
}

.form__bodytwo .form__img {
  margin-top: 15px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__bodytwo .information__item {
  font-family: "Myriad Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #000000;
  text-align: center;
  margin-bottom: 10px;
}

.form__bodytwo .buttons__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  cursor: pointer;
  display: block;
  text-align: center;
  background: #FF862F;
  padding: 8px;
  width: 296px;
  margin: 10px auto 0;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.transparent {
  border: 1px solid #4F4F4F;
  background: transparent;
  color: #4F4F4F;
}

.quality__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quality__items .quality__item {
  margin: 20px 9px 0;
  position: relative;
}

.quality__items .item-quality__title {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF8218), to(#FEBD8E));
  background: -o-linear-gradient(top, #FF8218 0%, #FEBD8E 100%);
  background: linear-gradient(180deg, #FF8218 0%, #FEBD8E 100%);
  -webkit-box-shadow: 0px 4.56521px 11.413px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4.56521px 11.413px rgba(0, 0, 0, 0.25);
  top: 15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Myriad Pro";
  white-space: pre;
  font-weight: 600;
  line-height: 122%;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 27px;
  padding-top: 6.85px;
  padding-bottom: 6.85px;
  padding-left: 19px;
  padding-right: 19px;
}

.quality__items .item-quality__img img {
  display: block;
  max-width: 100%;
}

.login .form__bodytwo {
  height: 286px;
  position: relative;
  top: -100px;
}

@media (min-width: 479.98px) {
  .quality__items .item-quality.two .item-quality__title {
    top: 80px;
  }

  .quality__items .item-quality.three .item-quality__title {
    top: 147px;
  }
}

@media (max-width: 1470px) {
  .registr__logo img {
    width: calc(241px + 52 * ((100vw - 320px) / 1150));
  }

  .registr__form-block {
    padding-left: calc(24px + 61 * ((100vw - 320px) / 1150));
  }

  .registr__form-block {
    padding-right: calc(24px + 61 * ((100vw - 320px) / 1150));
  }

  .quality__items .item-quality__title {
    font-size: calc(20px + 7 * ((100vw - 320px) / 1150));
  }

  .quality__items .item-quality__title {
    padding-top: calc(5px + 1.85 * ((100vw - 320px) / 1150));
  }

  .quality__items .item-quality__title {
    padding-bottom: calc(5px + 1.85 * ((100vw - 320px) / 1150));
  }

  .quality__items .item-quality__title {
    padding-left: calc(15px + 4 * ((100vw - 320px) / 1150));
  }

  .quality__items .item-quality__title {
    padding-right: calc(15px + 4 * ((100vw - 320px) / 1150));
  }
}

@media (any-hover: hover) {
  .registr__link:hover {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #FF862F;
  }

  .registr__link:hover svg {
    stroke: #FF862F;
  }

  .registr .form__bottom a:hover {
    color: #FF862F;
  }

  .form__item.checkbox a:hover {
    color: #FF862F;
  }

  .form__btn:hover {
    color: #555555;
  }

  .btn:hover {
    color: #555555;
  }

  .transparent:hover {
    color: #fff;
    background: #FF862F;
    border: 1px solid #FF862F;
  }
}

.webp .registr { background-image: url(../img/bg.webp); }